<nav class="navbar navbar-light bg-white">
    <div class="row"></div>
        <div class="col-md-4" style="font-style: italic">
                <strong>Bienvenue,{{contact?.nomDetail.prenom}} {{contact?.nomDetail.nom}}</strong>
        </div>
    <div class="col-md-4 sm-2">
        <form class="form-inline" style="margin-left: 20%">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)='RecherchePersonne()'>
                    <i class="fa fa-search">Recherche</i> 
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4" >
        <button class="btn btn-success" style="margin-left:70%" (click)="deconnect()">déconnexion</button>
    </div>
</nav>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                        <div class="profile-img">
                        <img src="data:image/png;base64,{{contact?.nomDetail.photo}}" class="card-img-top" (mouseenter)="changeimage()" >
                            <div class="file btn btn-lg btn-primary" [ngStyle]="{'display': mouseonimage? 'block':'none'}">
                                Change Photo
                                <input type="file" name="file" (change)="onFileSelected($event)" >
                            </div>
                        </div>
                </div>
                
                <div class="card-body">
                    <div class="h5">Info  <i class="fas fa-user-edit" style="margin-left:80%; cursor: pointer;"></i></div>
                        <div class="h7 text-muted">{{contact?.nomDetail.prenom}} {{contact?.nomDetail.nom}}</div>
                        <div class="h7">
                            {{contact?.typeContact}}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted"><i class='fas fa-at'></i></div>
                        <div class="h5">{{contact?.email}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted"><i class="fas fa-phone-volume"></i></div>
                        <div class="h5">{{contact?.nomDetail.tel}}</div>
                    </li>
                    <li class="list-group-item">
                            <div class="h6 text-muted">Adresse</div>
                            <div class="h5">{{contact?.adresse.cite}},{{contact?.adresse.ville}},{{contact?.adresse.region}}</div>
                    </li>
                   
                </ul>
            </div>
        </div>


        <div class="col-md-6 gedf-main">    
            <div class="card ">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" (click)="gopublications()"> Accueil</button> 
                        <button type="button" class="btn btn-success" style="margin-left:2% " (click)="gopublication()">Publier</button> 
                        <button type="button" class="btn btn-info" style="margin-left:2% "(click)="gomessage()">
                            Boite de reception<span class="badge badge-info">{{nbreVue}}</span>
                        </button> 
                    </div>
                    <div class="card-body text-center">
                             <div *ngIf='contact'>
                                    <div *ngIf='code==2'>

                                    <app-faire-publication (childEvent)="publication=$event" [contact]="contact"></app-faire-publication>
                                    </div>
                                    <div *ngIf='code==1'>
                                    <app-listepublication [contact]="contact" (childEvent)="nbreVue=$event"></app-listepublication>
                                    </div>
                                    <div *ngIf='code==3'>
                                        <app-boite-reception [contact]="contact" (Onemessage)="Onemessage=$event"
                                         (reponses)="reponses=$event" (id_message)="id_message=$event"></app-boite-reception>
                                    </div>                                    
                            </div>
                    </div>
            </div>
    
          </div>
          
        <div class="col-md-3" >
            <div *ngIf="Onemessage" >
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Message</h5>
                        <h6 class="card-subtitle mb-2 text-muted">De: {{Onemessage.emetteur.nomDetail.nom}} {{Onemessage.emetteur.nomDetail.prenom}}
                                      @: {{Onemessage.recepteur.nomDetail.nom}} {{Onemessage.recepteur.nomDetail.prenom}}</h6>
                        <p class="card-text">
                            {{Onemessage.texte}} </p> 
                            <p class="card-text"><small class="text-muted">Le: {{Onemessage.dateMessage|date:'short'}}</small></p>   
                        </div>
                        <div style="font-style: oblique;margin-left: 60%; cursor: pointer"> 
                            <a (click)="repondre()">
                                <p class="badge badge-primary"  >Répondre</p>
                            </a> 
                        </div>
                        <div *ngFor="let r of reponses?.content">
                            <div [ngStyle]="{'margin-left':r.contact.id=== contact.id ?'20%':'0%'}">
                                    <img class="rounded-circle" width="30"
                                    src="data:image/png;base64,{{r.contact.nomDetail.photo}}"> 
                               <p class="badge badge-light" role="alert">
                                 {{r.texte}}
                              </p>
                            </div>
                        </div>    
                       
                        <div  *ngIf="showreponse==1">
                                <textarea class="form-control" rows="3" placeholder="Ecrivez votre texte" 
                                                    [(ngModel)]="reponseMessage.texte" name="texte" ></textarea>
                                <button class="btn btn-primary" (click)="EnvoyerReponse()">Envoyer</button>
                            </div>
                </div>
               
            </div>
        </div>
</div>