<nav class="navbar">
   <marquee behavior="scroll" direction="left" style="font-style: inherit">
    <i class="fas fa-clinic-medical fa-2x"> Service de santé à domicile</i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
    <i class="fas fa-file-medical fa-2x"> Préstation de service</i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <i class="fas fa-hand-holding-heart fa-2x">Accés aux organisations médico-sociales</i>
  </marquee>
</nav>

<div class="controls-top" style="margin-left: 45%">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev">
      <i class="fas fa-chevron-circle-left fa-4x"></i>
    </a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next">
      <i class="fas fa-chevron-circle-right fa-4x"></i>
    </a>
  </div>
  <br>
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">  
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/medecin.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"> Besoin de docteur à domicile </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/infirmier.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"> Besoin d'infirmier proche </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/1.jpg">
            <div class="card-body">
              <h4 class="card-title"> Besoin d'auxiliére de vie </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
  
      </div>
      <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/ambulance.png">
              
            <div class="card-body">
              <h4 class="card-title"> Besoin d'ambulance </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/non.jpg" >
              
            <div class="card-body">
              <h4 class="card-title"> Besoin d'une organisation pour te soutenir </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/besoinaide.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"> Besoin d'un service medicale particulier </h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-light  btn-md btn-rounded">Lire la suite</a>
            </div>
          </div>
        </div>
  
      </div> 
    </div>
  </div>
<div class="row">
    <div class="alert  alert-dark col-md-4">
         <span><strong>Pour les patients</strong> </span>
         Un doute, une inquiétude, vous etes agé et tu ne peux pas te déplacer.<br><br>
          Besoin d’un professionnels de santé chez vous? SANAD.tn c’est la solution
         SANAD.tn est une plateforme innovante qui vous permet de trouver rapidement un médecin, un infirmier, un auxiliére de vie, une ambulance les plus proches de chez vous.
         SANAD.tn vous permet d' acceder au forum gratuitement pour poser vos questions en ligne directement aux spécialistes en respectant les termes de confidentialité.
         SANAD.tn est une plateforme de préstation de service afin de communiquer avec les professionnels.
     </div>
     <div class="alert  alert-dark col-md-4">
         <span><strong>Pour les professionnels de santé</strong> </span>
               SANAD.tn est un service de santé à domicile, qui optimise votre organisation et vous fait gagner du temps. Avec med.tn, vous partagez vos disponibilités en temps réel avec vos patients selon vos critères, tout en gardant la main sur votre agenda médical. 
               Med.tn vous permet d’entrer en contact directement avec des patients et de répondre à leurs interrogations.
               Notre objectif final est d'améliorer l'accès aux soins en mettant à votre disposition des outils simples et intuitifs pour que chacun devienne acteur de sa santé et de son bien-être.
     </div>
     <div class="alert  alert-dark col-md-4">
         <span><strong> Les organisations humantaires de santé</strong>  </span>
            SANAD.tn est une plateforme qui permet de vous faciliter l'accés aux gens demandant le soutient médical et humanitaire.
     </div>
 </div>
 <div class="container "style="margin-left:20% ">
    <img src="assets/SSIAD.jpg" >
</div>